@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

:root {
  --white: rgba(255, 255, 255, 0.9);
  --purple: rgba(214, 127, 214);
  --light-purple: rgb(221, 158, 221);
}

body {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
  outline: none;
}

body {
  background: rgba(0, 0, 0, 0.8);
  font-family: "Poppins", sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  letter-spacing: 1px;
  font-weight: normal;
  color: var(--white);
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #808080;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

span {
  color: var(--light-purple);
}

main {
  max-width: 1000px;
  width: 100%;
  padding: 0 30px;
  margin: auto;
}

main .title {
  font-size: 40px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  margin: 0 auto;
  margin-top: 60px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--purple);
  max-width: 600px;
}

main .name {
  font-size: 18px;
  letter-spacing: 1px;
  text-align: right;
  margin-top: 50px;
}

main .resum {
  margin-top: 40px;
}

main .resum h3 {
  font-weight: normal;
  margin-top: 30px;
  letter-spacing: 1px;
  font-size: 18px;
  border-left: 2px solid var(--purple);
  padding-left: 10px;
}

main .complement {
  margin-top: 50px;
}

main .complement ul {
  list-style: none;
}

main .complement h3 {
  font-weight: normal;
  margin-top: 30px;
  letter-spacing: 1px;
  font-size: 18px;
  border-left: 2px solid var(--purple);
  padding-left: 10px;
}
